{% load socialaccount %}
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PogoFR Donation Backend</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
<header>
{% include 'nav.html' %}
</header>
{% block content %}
{% endblock content %}
<footer class="fixed-bottom text-center bg-light">
    <p><a href="https://github.com/Breee">Breee@github</a> | <a href="https://github.com/Breee/django-discord-rolemanager"><i class="fab fa-github"></i> Code</a> </p>
</footer>
<!-- Bootstrap, Popper and JS Core -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6db4a3c8c1.js"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>
