<!-- templates/home.html -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

{# Main Section #}
<div class="container donation-container">
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Spenden</h5>
                    <p class="card-text">
                    <form action="/donate/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount">Betrag</label>
                            {{form.amount}}
                            <label for="amount">Wie hast du bezahlt?</label>
                            {{form.note}}
                        </div>
                        <button type="submit" class="btn btn-dark">Absenden</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="table-responsive">
            <table id="donations" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Betrag</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Kommentar</th>
                        <th scope="col">Akzeptiert</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                    <tr>
                        <th scope="row">{{ donation.id }}</th>
                        <td>{{ donation.donator }}</td>
                        <td>{{ donation.amount }}</td>
                        <td>{{ donation.date }}</td>
                        <td>{{ donation.note }}</td>
                        <td>
                            {% if donation.completed %}
                            <i class="fas fa-check-circle"></i>
                            {% else %}
                            <i class="fas fa-times-circle"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}