{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
<div class="well text-center">
  <h1>The backend is currently under maintenance</h1>
</div>
{% endblock content %}